
a{
    text-decoration: none;
}

.mainportfoliopic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.pagelinks{
    text-align: right;
}

.about{
    text-align: center;
}

.forleftalign{
    text-align: left;
    color: #25a692;
}

/* <!-- Thusrdays styling  projects page -- > */
.nav {
    text-align: right;
    font-size: 20px;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


   /* Contact Page styling  */
.contact-page-body{
    background-color:rgba(240, 248, 255, 0.63);;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-instagram {
    background: #eb3a9b;
    color: white;
  }

  .fa-skype {
    background: #00aff0;
    color: white;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .contact-head,
  .contact-para,
  .buttons{
      text-align: center;
  }

  .contact-head{
    text-transform: uppercase;
    letter-spacing: 5px;
    /* color: rgba(240, 248, 255, 0.63); */
    color:#25a692;
  }

  .contact-para{
    color: rgba(15, 25, 32, 0.63);
    font-size:large;
  }

  .logos-head{
    text-align: center;
    color:#25a692;;
  }


   /* Skills styling  */

   /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 20%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

